/* Style for all html pages */

.fixed-action-btn{
    right:20px;
    top: 20px;
}

.foodlinks {
    display:inline-block;
    margin:5px;
    position:relative;
    top:100px;

}

.btn-floating {
    background-color: transparent;
}

.btn-floating:hover {
    background-image: url("../images/lightpaperfibers.png");
}

.btn-floating i:hover {
    color: gray;
}

#logo {
    height: 39px;
    width: 30px;
}

#ff-icon {
    padding: 20px;
}
/* Style for index.html page */

.indexPage {
    background-image: url("../images/artichoke.jpg");
    background-size: cover;                    
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.h2align {
   text-align: center; 
   font-weight: bold;
}


.enterFF {
    color: white;
}

.my-wrapper {
    margin: 0px;
    padding:0px;
    float: left;
    width:100%;
    position:absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left:50%;
}

a {
    color: white;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.index-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: transparent;
    color: white;
    text-align: center;
    font-size: 12px;
}

/* Style for options.html page */

.optionsPage {
    background: url("../images/spoon.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

form {
    width: 70%;
    margin: auto;
    background: rgba(248, 248, 244, 0.4);    
    padding: 20px;
}
.h5align {
    text-align: center; 
 }
.btn-small {
    background-image: url("../images/lightpaperfibers.png");
    color: gray; 
}

.btn-small:hover {
    background-image: url("../images/lightpaperfibers.png");
    color: gray;   
}

.row-bottom {
    padding-bottom: px;
    /* margin-top: -20px; */
}

.gifDiv {
    float: left;
    margin: 3px;
}
.img1 {
    widows: 200px;
    height: 200px;
}

.options-footer {
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: transparent;
    color: black;
    text-align: center;
    font-size: 12px;
}


/* Style for details.html page */

.detailsPage {
    background: url("../images/bowl.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

.details-container {
    text-align: center;
}


.picture-ingredients {
    /* background-image: ("../images/cheesefruit.jpg"); */
    background-color: rgba(248, 248, 244, 0.4);
    height: 100%;
}

.details-footer {
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: transparent;
    color: black;
    text-align: center;
    font-size: 12px;
}

.card-header {
    text-align: center;
}
.card-body {
    padding: 25px;
}
.header1 {
    color : rgba(0, 0, 0, 0.349);
    text-align: center;
    padding-top: 15px;
    font-weight: bolder;
}
.card {
    background-color: rgba(255, 255, 255, 0.534);
}
.ingredients {
    background-color: white;
}
.name {
    background-color: #009688;
    color: white;
}
.container2 {
    background-color: #009688;
}

.card-content {
    background-color: rgba(169, 38, 251, 0.04);
}
.ingredient-row {
    height: 58px;
    margin: 0px;
}
.included-exclude-row {
    margin: 0px;
}
img {
    width: 100%;
    height: 100%;
    
}
#image5 {
    margin: 0px;
    padding: 0px;
    padding-right: 2%;
}

.fadeIn{
    text-align:center;
    
 }
 .pull-left{
    text-align:center;
    margin-bottom:10px;
 }
 
 #joinin{text-align:center;}
 
 img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }









